<div align="center">
  <form>
    <div>
      <h1>Login</h1>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="inputUser" name="username" required>
        </mat-form-field>
    </div>
    <div>

        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="inputPass" name="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <!-- <mat-error *ngIf="emptyValidation.invalid">Username and Password are Required</mat-error> -->
    </div>
    <button mat-raised-button color="primary" (click)="login(inputUser, inputPass)">Login</button>
    <br/><br/>
    <button mat-raised-button color="secondary" routerLink="/forgotPassword">Forgot Password</button>
    <button mat-raised-button color="secondary" routerLink="/createUser">Create an Account</button>
  </form>

  <br/><br/>
  <mat-card>
    <mat-card-title>
        English classes at Georgia Tech use tweets to supplement the classroom environment. 
        The Academic Twitter Companion is a website that can pull tweets from all students in a class. 
        It provides statistics on what types of tweets are being posted, what hashtags are being used, and the timeline distribution of tweets. 
        These statistics allow professors to look at the big picture of students’ tweets and assign grades based on the student’s diversity and distribution of tweets. 
        Having all tweets in one location greatly enhances the grading process.

        <br/><br/>
        
        This project was created for Dr. Rebekah Fitzsimmons by Georgia Tech Junior Design Team 8105: Valerie Avva, Nikki Cantrell, Kevin Kusuma, Matthew Lemons, and Mayuri Mamtani.
    </mat-card-title>
  </mat-card>
</div>
