<mat-toolbar color="primary" class="header">
  <h3 class = "home-icon" routerLink="/home"><mat-icon class = "header-icons">home</mat-icon> {{title}}</h3>
  <button class = "create-class" mat-button routerLink="/create"><mat-icon class = "header-icons">add</mat-icon>Create Class</button>
  <button class="my-classes" mat-button> My Classes </button>
  <span class="space"></span>
  <button mat-button class = "user-profile"> <mat-icon class = "header-icons">person</mat-icon>User Profile </button>
</mat-toolbar>

<router-outlet></router-outlet>

