<div class="container" align="center" layout="column" layout-align="center center">
    <h1>Enter Your Email</h1>
    
    <form [formGroup]="registrationFormGroup" (ngSubmit)="sendEmail()">
        
        <div class="form-group">
            <mat-form-field>
            <!-- <label for="username">Username</label> -->
              <input matInput class="form-control" type="text" name="email" formControlName="email" email placeholder="Email" required/>
              <mat-error class="bg-danger" *ngIf="registrationFormGroup.controls.email.errors?.required && registrationFormGroup.controls.email.touched">Email is required</mat-error>
            </mat-form-field>
            <mat-chip-list  *ngIf="email.invalid && (email.dirty || isSubmitted)">
                <mat-chip color="warn" selected *ngIf="email.errors.email && !email.errors.required">Invalid Email</mat-chip>
            </mat-chip-list>
        </div>
            
    
        <div class="form-group">
            <button mat-raised-button color="primary" type="submit" [disabled]="!registrationFormGroup.valid" >Send Recovery Email</button>
        </div>
    
    </form>
    
    </div>  